{% extends '_base.html' %}
{% load static %}

{% block title %}About page{% endblock %}

{% block content %}
    <h1>My TODO list</h1>

    <div id="todos-div"></div>
{% endblock content %}

{% block javascript %}
    {{ block.super }}

{#    {% csrf_token %}#}
{#    <script type="text/javascript">#}
{#        // using jQuery#}
{#        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();#}
{#    </script>#}

    <script src="{% static 'js/todo-list.js' %}"></script>

{% endblock javascript %}